@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
*{
	margin: 0;
	padding: 0;
	font-family: 'Fjalla One', sans-serif;
}
body{
	background-image: url('../img/livraria.jpg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 13px 0px;
	position: absolute;
	width: 100%;
	height: absolute; /*800 ||absolute*/
	
}
.h1{
	margin: auto;
	padding-top: 0px;
	text-align: left;
	font-size:60px;
	padding-left: 20px;

}
#usu{
    color: white;
    background-color: black;
}
#usu:hover{
    color: #1C1C1C;
    background-color: #BDBDBD;
}
.h2{
	color: white;
	font-size: 60px;
	background-color: blue;
	border-radius: 5px;
	border:groove 1.7px blue;
	padding: 1px 5px;
}
.mot{
	width: 55%;
	height: 40%;
	margin: auto;
	padding-top: 8px;
    margin-bottom: 40px; 
}
.desen{
	text-align: center;
	width: 170px;
	padding-top: 20px;
	margin-left: 25px;
    margin-top: -433px;
    border: 1px groove #E6E6E6;
    border-radius: 4px;
    border-left: 1.5px groove #E6E6E6;
}
.vol{
	width: 50px;
	height: 40px;
	padding: 5px;
	border-radius: 5px;
    color: white;
    background-color: #2E9AFE;

}
.busca{
    border-radius: 4px; 
    height: 30px;
    width: 17%;
}
.submit{
    height: 32px; 
    padding-left: 5px; 
    padding-right: 5px; 
    text-align: center; 
    color: white; 
    background-color: #2E9AFE; 
    border:none; border-radius: 4px; 
    cursor: pointer;
    font-size: 17px;
}
.pesquisa{
    color: black;
    font-size: 20px;
}
a{
	text-decoration: none;
	color: blue;
	text-align: center;
	cursor: pointer;
}
.menu{
	border-radius: 5px;
	padding: 10px;
	background-color: white;
	opacity:0.90;
	color: black;
}
.menu:hover{
	color: white;
	background-color: black;
}
.view{
	margin: auto;
	padding-top: 15px;
	width: 50%;
	height: 50%;
}
.view p{
    font-size: 20px;
    padding: 10px;
}
.view img{
    width: 300px;
    height: 350px;
}

.livro{
	margin: auto;
	padding-top: 40px;
    display: grid;
    grid-template-columns: column column column;
    margin-bottom: 60px;
}
.livro p{
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
}
.livro img{
    width: 180px;
    height: 200px;
    margin-left: -170px;
    z-index: 500;
    margin-bottom: 2px;
    margin-top: -173px;
}
.livro .grid{
    padding: 5px;
    border: solid 1px;
    border-radius: 10px;
    width: 28%;
}
.livro .estrelas{
    margin-left: 90px;
}
.livro .estrelas input[type=radio]{
    display: none;
}
.livro .estrelas label i.fa:before{
    content: '\f005';
    color: yellow;
}
.livro .estrelas input[type=radio]:checked~ label i.fa:before{
    color: #CCC;
}
.cadlivro{
    margin: auto;
    padding-top: 0px;
}

.cadlivro{
    width: 40%;
    height: 630px;
    background: #D8D8D8;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 6px;
    margin-top: 400px;
    margin-bottom: 60px;
}
.cadlivro input{
    width: 100%;
    margin-bottom: 20px;
}
.cadlivro .file{
    margin-right: -275px; /*295*/
    width: 185px; /*115*/
    margin-top: -43px; /*63*/
}
.cadlivro p{
	text-align: left;
}
.cadlivro h1{
    
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    margin-top: -35px;
}
.cadlivro input[type="text"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.cadlivro input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #0080FF;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}
.cadlivro select{
	width: 50%;
    margin-left: -228px; /*185*/
	height: 27px;
}
.cadlivro textarea{
	width: 100%;
	border-radius: 4px;
}
.sobre{
	height: 300px;
	width: 300px;
	margin: auto;
	padding-top: 40px;
	text-align: center;
}
ul {
   list-style-type: none;
   margin: 0;
   overflow: hidden;
   padding: 36px 32px;
}
.home {
    padding-top: 1px;
    list-style-type: none;
    margin: -50px auto;
    overflow: hidden;
    padding-left: 1px;
    width: 70%;

 }
.home ul a{
	padding: 10px;
	margin: auto;
}
.destaque{
	margin-top: 60px;
}
.slide{
	width: 300px;
	height: 350px;
	margin: 90px auto;
	overflow: hidden;
	border-radius: 4px;
	margin-top: 40px;
}
.slide ul{
	margin: auto; 
	padding: 0;
}
div.slide section.botao{
	display: none;
	margin: 5px;
	position: absolute;
	z-index: 500;
	opacity: 0.7;
}
div.slide section.botao a{
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	background-color: #333;
	color: white;
	margin: 5px;
}
div.slide section.botao a:hover{
	background-color: #555;

}
.copyright {
	color: white;
	height: 24px;
	background-color: black;
	position: fixed;
	bottom: 0;
	margin-bottom: 0;
	width: 100%;
	opacity: 0.80;
	padding-top: 5px;
	z-index: 500;

}
.copyright p {
	text-align: center;
}
img{
	border-radius: 4px;
}
#logotipo{
	width: 160px;
	height: 95px;
	opacity: 0.9;
	border-radius: 20px;
	margin-top: 1px;
	margin-left: 20px;
	border: groove 1px #E6E6E6;
}
.login{
    width: 360px;
    height: 410px;
    background: #D8D8D8;
    color: black;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 6px;
    margin-top: 250px; /*17 || 250*/
    margin-bottom: -150px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.login h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login p{
    margin-top: 20px;
    padding: 0;
    text-align: left;

}
.login input{
    width: 100%;
    margin-bottom: 20px;
}
.login input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.login input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #0080FF;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}

.registro{
    width: 32%;
    height: 520px; /*410px; */
    background: #D8D8D8;
    color: black;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 6px;
    margin-top: 300px;/*70*/
    margin-bottom: -200px;
}
.registro p{
    margin: 0;
    padding: 0;
    text-align: left;
}

.registro input{
    width: 100%;
    margin-bottom: 20px;
}
.registro input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.registro input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #0080FF;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}
.recupera {
    width: 360px;
    height: 435px;
    background: #D8D8D8;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 6px;
    margin-top: 315px;
    margin-bottom: 60px;
}
.recupera h1{
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
    font-size: 22px;
    margin-top: -30px;
}
.recupera p{
    margin-top: 5px;
    padding: 0;
    text-align: left;

}
.recupera input{
    width: 100%;
    margin-bottom: 20px;
}
.recupera input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.recupera input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #0080FF;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}
.lista{
    width: 80%;
}
.lista #pedidos{
    width: 90%;
}