@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
*{
	margin: 0;
	padding: 0;
	font-family: 'Fjalla One', sans-serif;
}
body{
    padding: 13px 0px;
	background-image: url('../img/book.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.h1{
	margin: auto;
	padding-top: 0px;
	text-align: left;
	font-size:60px;
	padding-left: 20px;
}
.h2{
	margin-top: 50px;
}
/*estrela de avaliacao*/
.barra{
    width:150px;
    height:30px;
    background: #ebebeb;
    position:relative;
    float: right;
}
.stars{
    position:absolute; left:0; top:0; width:100%;
}
.star{
    float:left; 
    width:30px; 
    height:30px;
    text-align:center; 
    position:relative; 
    cursor:pointer;
    overflow: hidden;
}
.star.full{
    background:linear-gradient(to bottom, #fee24f, #f4bb2f);
}
.bg{
    float:left;
    height:30px;
    width:30%;
    background:linear-gradient(to bottom, #fee24f, #f4bb2f);
}
.starAbsolute{
    position:absolute; 
    top:0; 
    left:0;
    width:100%; 
    height:100%; 
    background:url(../img/starpng.png) top left no-repeat; 
    background-size:cover;
}
/*motivacional*/
.mot{
	width: 55%;
	height: 40%;
	margin: auto;
	padding-top: 8px;
    margin-bottom: 40px; 
}
/*Desenvolvedores (medio)*/
.desen{
	text-align: center;
	width: 170px;
    height: 170px;
	padding-top: 20px;
	float: center ;
    margin-top: -45px;
    border-radius: 4px;
}
/*botão de voltar para página de livros */
.vol{
	width: 50px;
	height: 40px;
	padding: 5px;
	border-radius: 5px;
    color: white;
    background-color: #2E9AFE;
}

/*input para pesquisar livros (medio)*/
.busca{
    border-radius: 4px; 
    height: 30px;
    width: 17%;
    border: solid 1px #2E9AFE;
}
/*botão para pesquisar livros (medio)*/
.submit{
    height: 30px; 
    padding-left: 5px; 
    padding-right: 5px; 
    text-align: center; 
    color: white; 
    background-color: #2E9AFE; 
    border:none; border-radius: 4px; 
    cursor: pointer;
    font-size: 17px;
}

.pesquisa{
    color: black;
    font-size: 20px;
}
a{
	text-decoration: none;
	text-align: center;
	cursor: pointer;
    color: blue;
}
/*exibição dos livros (medio)*/
.livro{
	margin: auto;
	padding-top: 40px;
    display: grid;
    grid-template-columns: column column column;
    margin-bottom: 60px;
}
.livro a{
    color: blue;
}
.livro p{
    text-align: right;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 17.5px;
}
.livro img{
    width: 220px;
    height: 245px;
    margin-left: -225px;
    margin-bottom: 5px;
    padding-top: 5px;
    z-index: 200;
}
.grid{
    margin-bottom: 20px;
}
.livro .grid {
    padding: 5px;
    border: solid 1px;
    border-radius: 10px;
    width: 35%;
    height: 110%;
    overflow: hidden;
    background: white;
}
 .livro .grid img{
    margin-top: -290px; /*-185*/
    z-index: 500;
    padding-left: 5px;
}
/*Cadastro de livros (medio)*/
.cadlivro{
    width: 40%;
    height: 630px;
    background: #D8D8D8;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 6px;
    margin-top: 150px;
    margin-bottom: 50px;
    border: solid 1px #848484;
}
.cadlivro input{
    width: 100%;
    margin-bottom: 20px;
}
.cadlivro .file{
    margin-right: -275px; /*295*/
    width: 185px; /*115*/
    margin-top: -43px; /*63*/
}
.cadlivro p{
	text-align: left;
}
.cadlivro h1{
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    margin-top: -35px;
}
.cadlivro input[type="text"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.cadlivro input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #0080FF;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}
.cadlivro input.name_book{
    width: 50%; 
    margin-left: -227px;
}
.cadlivro p.name_autor{
    margin-top: -81px; 
    margin-left: 275px;
}
.cadlivro select{
	width: 50%;
    margin-left: -228px; /*185*/
	height: 27px;
}
.cadlivro textarea{
	width: 100%;
	border-radius: 4px;
}
/*ISBN, quantidade e prazo do livro*/ 
.container{
    display: flex;
}
.container p input[type="number"]{
    width: 40px;
}
.container p.quantidade{
    margin: auto;
    margin-left: 50px;
    text-align: center;
}
.container p.isbn{
    width: 240%;
}
.sobre{
	height: 300px;
	width: 300px;
	margin: auto;
	padding-top: 40px;
	text-align: center;
}
/*Texto acima do slide (medio)*/ 
.destaque{
	margin-top: 60px;
}
.slide{
	width: 300px;
	height: 350px;
	margin: 90px auto;
	overflow: hidden;
	border-radius: 4px;
	margin-top: 40px;
}
.slide ul{
	margin: auto; 
	padding: 0;
}
.slide a li img{
    width: 100%;
    height: 350px;
    position: center;
    margin: auto;

}
div.slide section.botao{
	display: none;
	margin: 5px;
	position: absolute;
	z-index: 10;
	opacity: 0.7;
}
div.slide section.botao a{
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	background-color: #333;
	color: white;
	margin: 5px;
    font-size: 40px;
}
div.slide section.botao a:hover{
	background-color: #555;

}
.teste {
    display: flex;
    width: 30%;
    border: groove 2px;
    border-radius: 4px;
    margin-bottom: 40px;
}
.acervo{
    width: 140px;
    margin: auto;
    margin-top: 10px;
}
.acervo span{
    font-size: 40px;
    color: #A9A9F5;
}
.acervo label{
    color: #A9A9F5;
}
.acervo p{
    color: white;
}
.acesso{
    margin:auto;
    width: 140px;
    margin-bottom: 20px;
}
.acesso span{
    font-size: 40px;
    color: #A9A9F5;
}
.acesso label{
    color: #A9A9F5;
}
.acesso p{
    color: white;   
}
/*rodapé*/
.copyright {
	color: white;
	height: 24px;
	background-color: black;
	position: fixed;
	bottom: 0;
	margin-bottom: 0;
	width: 100%;
	opacity: 0.80;
	padding-top: 5px;
	z-index: 500;
}
.copyright p {
	text-align: center;
}
img{
	border-radius: 4px;
}
table tr td{
    padding: 10px;
    border-radius: 4px;
}
table tr:nth-child(2n+1){
    background-color: #D8D8D8;
}
table tr:nth-child(2n){
   background-color: #babaca;
}
/*div de login*/
.login{
    width: 360px;
    height: 420px;
    background: #D8D8D8;
    opacity: 0.80;
    color: black;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 6px;
    margin-top: 300px; /*17 || 250*/
    margin-bottom: -150px;
    border: solid 1px #848484;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.login h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login p{
    margin-top: 20px;
    padding: 0;
    text-align: left;
}
.login input{
    width: 100%;
    margin-bottom: 20px;
}
.login input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.login input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #0080FF;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}
.registro{
    width: 32%;
    height: 560px;
    background:#D8D8D8;
    color: black;
    opacity: 0.80;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 6px;
    margin-top: 370px;
    margin-bottom: -225px;
    border: solid 1px #848484;
}
.registro p{
    margin: 0;
    padding: 0;
    text-align: left;
}

.registro input{
    width: 100%;
    margin-bottom: 20px;
}
.registro input.usuario{
    width: 45%; 
    margin-left: -55%; /*195*/
}
.registro p.matricula{
    margin-top: -81px; 
    margin-left: 53%;
    width: 47%;
}
.registro input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.registro input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #0080FF;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}
/*Busca dos livros (medio)*/
.form_busca{
    margin-top: 40px;
}
.form_busca label{
    font-size: 20px;
}
/*Exibição dos livros (medio)*/
.row{
    width: 80%;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 40px;
    /*display: flex;*/
}
div.col-md-6{
    width: 250px;
    height: 470px;
    border: solid 1px #6E6E6E;
    overflow: hidden;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px; 
}
.row .col-md-6 img{
    width: 200px;
    height: 220px;
}
.row .col-md-6 p{
    margin-top: -7px;
}
/*
div.book{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 325px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 4px; 
}
.book .img{
    border: 4px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.book img:before{
    content: '';
    position: absolute;
    bottom: -108px;
    left: 0;
    width: 300px;
    height: 325px
    background: linear-gradient(0deg, #000 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}
.book:hover .info{
    bottom: 0;
}
.book:hover .img:before{
    bottom: 0;
}
.book:hover .img img{
    filter: blur(5px);
    width: 300px;
    height: 325px;
}
.book img{
    width: 300px;
    height: 325px;
}
.info{
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 80%;
    bottom: -108px;
    left: 0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 2;
}
.info h2{
    color: white;
    font-size: 20px;
    padding: 0;
    left: 0;
    margin: 0;
}
.info h2 span{
    font-size: 15px;
}
.info p{
    color: white;
}
.stars{
    position: relative;
    padding: 5px 0;
}
.stars .fal{
    color: yellow;
    margin-right: 2px;
    font-size: 15px;
}
.btn{
    margin-top: 5px;
    position: relative;
    margin-left: -14px;
}
.btn span{
    padding: 2px 5px;
    margin-right: 2px;
    display: inline-block;
    border-radius: 4px;
    color: white;
}
.btn span.solicitar{
    background: #FA58D0;
}
.btn span.avaliar{
    background: #7401DF;
}
/* Alterar senha (medio)*/
.recupera {
    width: 360px;
    height: 435px;
    background: #D8D8D8;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 6px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: groove 2px;
}
.recupera h1{
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
    font-size: 22px;
    margin-top: -30px;
}
.recupera p{
    margin-top: 5px;
    padding: 0;
    text-align: left;
}
.recupera input{
    width: 100%;
    margin-bottom: 20px;
}
.recupera label{
    padding-right: 20px;
    margin-top: 10px;
    float: left;
}
.recupera .label{
   padding-right: 0; 
}
.recupera input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.recupera input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #0080FF;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}

/*lista pedidos (medio)*/
.lista{
    width: 80%;
    margin-top: 70px;
}
.lista #pedidos{
    width: 90%;
}
/*Livro com resumo (medio)*/
.card{
    position: absolute;
    width: 300px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-top: 60px; 
    background-color: white;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(2000px);
    box-sizing: border-box;
    box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 0 20px 100px rgba(0,0,0,.5);
    transition: 1s;
    margin-bottom: 100px;
}
.card:hover{
    transform: translate(-50%, -50%) perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
    margin-bottom: 70px;
}
.card:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    height: 5px;
    background-color: white;
    transform-origin: bottom;
    transform: skewX(-45deg);
}
.card:after{
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    background-color: white;
    transform-origin: left;
    transform: skewX(-45deg);
}
.card .imgBox{
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 1s;
}
.card:hover .imgBox{
    transform: rotateY(-135deg);
}
.card .detalhes{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: -1;
}
.card .detalhes p{
     text-align: left;
}
.card .imgBox img{
    width: 300px;
    height: 400px;
}
#logotipo{
    width: 100px;
    height: 65px;
    opacity: 0.9;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 10px;
    
}
/* Div do menu (medio)*/
.home{
    width: 100%;
    height: 105px;
    background: black;
    opacity: 0.80;
    margin-top: -13px;
}
header {
    width:100%;
    margin: 0 auto;
    text-align: center;
}
/*Menu medio*/
header nav {
    width:95%;
    height: 50px;
    margin: auto;
    margin-top: -60px;
    opacity: 0.80;
    border-radius: 4px;
    text-align: center;   
}
.menu_bar {
    display:none;
}
.btn-menu{
    color: white;
}
header nav ul {
    overflow:hidden;
    list-style:none;
    position: relative;
    padding: 15px;
}
header nav ul li {
    float: center;
    display: inline-block;  
}
header nav ul li a {
    color: white;
    padding:15px;
    margin-top: -30px;
    display:block;
    text-decoration:none;
}
header nav ul li span {
    margin-right:5px;
}
header nav ul li a:hover {
    background:#585858;
    border-radius: 4px;
}
/*Estilo ddo chat*/
.users_online{
    position: absolute;
    top: 105px;
    right: 0;
    width: 220px;
    height: 100%;
    background: linear-gradient(to right, #ccc, #fff 30%);
    border-left: 1px solid #999;
    opacity: 0.9;
}
.users_online ul{
    list-style: none;
}
.users_online ul li{
    float: left;
    width: 95%;
    border: 1px solid transparent;
    padding: 5px;
    margin-left: -1;
    border-right: 0;
    position: relative;
}
.users_online ul li:hover{
    border-color: #999;
    background: linear-gradient(to right, #ccc, #fff 60%);
}
.users_online ul li a{
    float: left;
    margin-left: 10px;
    line-height: 40px;
    color: #666;
    text-decoration: none;
}
.imgSmall{
    float: left;
    width: 44px;
    height: 44px;
    overflow: hidden;
    border-radius: 50%;
}
.imgSmall img{
    width: 100%;
    height: 100%;
}
.status{
    position: absolute;
    right: 8px;
    top: 50%;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    border-radius: 50%;
    background: #666;
}
.status.off{
    background: #ccc;
}
.status.on{
    background: #090;
}
.chats{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 82%;
}
.window{
    float: left;
    width: 280px;
    margin-left: 5px;
    height: auto;
    overflow: hidden;
    border-radius: 4px;
}
.window .header_window{
    float: left;
    background: #00ACE6;
    padding: 5px;
    width: 270px;
    position: relative;
    cursor: pointer;
}
.window .header_window .close{
    text-decoration: none;
    float: left;
    color: white;
    font: 16px Tahoma, arial;
    padding: 0 10px 0 0;
}
.window .header_window .name{
    float: left;
    font: 16px Tahoma, arial;
    color: white;
}
.window .body{
    float: left;
    width: 100%;
}
.window .body .mensagens{
    float: left;
    width: 100%;
    background: #ebebeb;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    height: 230px;
    overflow-y: auto;
    overflow-x: hidden;
}
.msg{
    height: 25px;
}
.window .body .send_message{
    float: left;
    width: 100%;
    position: relative;
}
.window .body .send_message input{
    float: left;
    width: 100%;
    padding: 3px;
    background: white;
    border: 1px solid #999;
    outline: none;  
}
.mensagens ul{
    float: left;
    width: 100%;
    list-style: none;
    margin-top: 5px;
}
.mensagens ul li{
    float: right;
    width: 80%;
    background: linear-gradient(to bottom, #fff, #ccc 130%);
    border: 1px solid #999;
    border-radius: 4px;
    position: relative;
    padding: 7px;
    margin-bottom: 7px; 
}
.mensagens ul li .imgSmall{
    position: absolute;
    width: 30px;
    height: 30px;
    left: -35px;
    margin-top: -5px;
}
.mensagens ul li p{
    font: 16px Tahoma, arial;
    color: #666;
}
.mensagens ul li.eu{
    float: left;
    background: #a4e9ff;
}
.mensagens ul li{
    margin-left: 5px;
}
.mensagens::-webkit-scrollbar{
    width: 3px;
}
.mensagens::-webkit-scrollbar-track{
    background-color: #666;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;     
}
.mensagens::-webkit-scrollbar-thumb{
    background-color: #666;
}
.mensagens::-webkit-scrollbar-thumb:hover{
    background-color: #069;
}
/*final do estilo do chat*/

@media screen and (max-width:768px) {
/* Div do menu mobile*/
.home{
    height: 80px;
    opacity: 0.80;
    position: fixed;
    z-index: 500;
    
}
/*Menu (mobile)*/
header nav {
    width:80%;
    height:100%;
    left:-100%;
    margin:0;
    position: fixed;
    margin-top: 0; /* header fora da div home =67px*/
    z-index: 900;
    background: black;
    opacity: 0.80;
 }

header nav ul li {
    display:block;
    float:none;
    margin-bottom: 30px;
    border-bottom:1px solid rgba(255,255,255, .3);
}
header nav ul li a{
    text-align: left;
    font-size: 20px;
    padding: 27px;
}

.menu_bar {
    display:block;
    width:100%;
    background: black;
    color: white;
}
.menu_bar .bt-menu {
    display:block;
    padding:20px;
    background:#024959;
    color:#fff;
    text-decoration:none;
    font-weight: bold;
    font-size:19px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.menu_bar span {
    float:right;
    margin-top: -67px;
    font-size:50px;
    margin-right: 10px;
}
/*slide do index (mobile)*/
.container p.quantidade{
    margin-left: 0;
}
.container p.isbn{
    width: 142px;
}

/* desenvolvedores */
.desen{
    width: 125px;
    height: 125px;
    margin: auto;
    margin-top: -40px;
    margin-bottom: 160px;
    color: white;
}
.home #logotipo{
    margin-top: 2px;
    height: 74px;
}
/*Texto acima do slide (mobile)*/
.destaque{
    margin-top: 110px;
}

.sobre{
    margin-top: 60px;
}
.sobre p{
    color: white;
}
.sobre h2{
    color: white;
}
.sobre input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #0080FF;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    width: 140px;
    margin-bottom: 20px;
}
.h2{
    margin-top: 115px; 
}
/* Cadastro mobile */
.registro{
    width: 80%;
    margin-top: 420px;
    margin-bottom: -240px;
}
/*Página dos livros (mobile)*/
.livro{
    margin-bottom: 207px;
}
.livro .grid{
    width: 340px;
}
.livro img{
    margin-left: -155px;
    width: 170px;
}
.livro {
    margin-top: 60px;
}
.livro  a{
    color: blue;
}
.livro p{
    font-size: 15px;
}
/* Pesquisa livros (mobile)*/
.busca{
    width: 150px;
}
/*login (mobile)*/
.login{
    margin-top: 370px;
}
.login a{
    color: blue;
}
/* Cadastro de livros (mobile)*/
.cadlivro{
    width: 350px;
    margin-top: 90px;
}
.cadlivro input{
    width: 100%;
}
.cadlivro .file{
    margin-right: -122px; 
    width: 185px; 
    margin-top: -38px; 
    font-size: 13px;
    margin-bottom: -17px;
}
.cadlivro input.name_book{
    width: 50%; 
    margin-left: -50%;
}
.cadlivro p.name_autor{
    margin-top: -81px; 
    margin-left: 60%;
}
.cadlivro p.name_autor input{
   
}
.cadlivro select{
    width: 35%;
    margin-left: -65%; 
}
/*Lista pedidos (mobile)*/
.lista{
    width: 80%;
    overflow: hidden;
    margin-top: 100px;
}
/*Altera senha (mobile)*/
.recupera{
    margin-top: 40px;
    margin-bottom: 60px;
}

.recupera a{
    color: blue;
}
table{
    width: 50%;
    margin-bottom: 215px;
}
/*Pesquisa dos livros (mobile)*/
.form_busca{
    margin-top: 100px;
}
.teste{
    width: 55%;
}
.users_online{
    top: 80px;
}
}


@media screen and (min-width: 1367px){
    .cadlivro .file{
        margin-right: -370px;
        width: 300px;
    }
    .cadlivro input.name_autor{
        margin-left: -55%;
        width: 45%;
    }
    .cadllivro select{
        width: 45%;
        margin-left: -55%;
    }
}