@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
*{
	margin: 0;
	padding: 0;
	font-family: 'Fjalla One', sans-serif;
}
body{
	background-image: url('../img/li.jpg');
    background-position: absolute ;
    background-repeat: no-repeat;
    padding: 13px 0px;
	width: 100%;
	height: absolute; /*800 ||absolute*/
}
.h1{
	margin: auto;
	padding-top: 0px;
	text-align: left;
	font-size:60px;
	padding-left: 20px;
}
.h2{
	color: white;
	font-size: 60px;
	background-color: blue;
	border-radius: 5px;
	border:groove 1.7px blue;
	padding: 1px 5px;
}
.mot{
	width: 55%;
	height: 40%;
	margin: auto;
	padding-top: 8px;
    margin-bottom: 40px; 
}
.desen{
	text-align: center;
	width: 170px;
    height: 170px;
	padding-top: 20px;
	float: center ;
    margin-top: -45px;
    border-radius: 4px;
}
.vol{
	width: 50px;
	height: 40px;
	padding: 5px;
	border-radius: 5px;
    color: white;
    background-color: #2E9AFE;
}
.busca{
    border-radius: 4px; 
    height: 30px;
    width: 17%;
    border: none;
}
.submit{
    height: 30px; 
    padding-left: 5px; 
    padding-right: 5px; 
    text-align: center; 
    color: white; 
    background-color: #2E9AFE; 
    border:none; border-radius: 4px; 
    cursor: pointer;
    font-size: 17px;
}
.pesquisa{
    color: black;
    font-size: 20px;
}
a{
	text-decoration: none;
	color: white;
	text-align: center;
	cursor: pointer;
}
.livro{
	margin: auto;
	padding-top: 40px;
    display: grid;
    grid-template-columns: column column column;
    margin-bottom: 60px;
}
.livro p{
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    font-size: 15px;
}
.livro img{
    width: 160px;
    height: 200px;
    float: left;
    z-index: 500;
    margin-bottom: 2px;
    margin-top: -173px;
}
.grid{
    margin-bottom: 20px;
}
.livro .grid{
    padding: 5px;
    border: solid 1px;
    border-radius: 10px;
    width: 28%;
    overflow: hidden;
}
.livro .grid img{
    padding-top: 5px;
    padding-left: 5px; 
}
.livro .estrelas{
    margin-left: 90px;
}
.livro .estrelas input[type=radio]{
    display: none;
}
.livro .estrelas label i.fa:before{
    content: '\f005';
    color: yellow;
}
.livro .estrelas input[type=radio]:checked~ label i.fa:before{
    color: #CCC;
}
.cadlivro{
    width: 40%;
    height: 630px;
    background: #D8D8D8;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 6px;
    margin-top: 150px;
    margin-bottom: 50px;
}
.cadlivro input{
    width: 100%;
    margin-bottom: 20px;
}
.cadlivro .file{
    margin-right: -275px; /*295*/
    width: 185px; /*115*/
    margin-top: -43px; /*63*/
}
.cadlivro p{
	text-align: left;
}
.cadlivro h1{
    
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    margin-top: -35px;
}
.cadlivro input[type="text"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.cadlivro input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #0080FF;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}
.cadlivro input.name_book{
    width: 50%; 
    margin-left: -227px;
}
.cadlivro p.name_autor{
    margin-top: -81px; 
    margin-left: 275px;
}
.cadlivro select{
	width: 50%;
    margin-left: -228px; /*185*/
	height: 27px;
}
.cadlivro textarea{
	width: 100%;
	border-radius: 4px;
}
.sobre{
	height: 300px;
	width: 300px;
	margin: auto;
	padding-top: 40px;
	text-align: center;
}

.destaque{
	margin-top: 60px;
}
.slide{
	width: 300px;
	height: 350px;
	margin: 90px auto;
	overflow: hidden;
	border-radius: 4px;
	margin-top: 40px;
}
.slide ul{
	margin: auto; 
	padding: 0;
}
.slide a li img{
    width: 300px;
    height: 350px;
    position: center;
}
div.slide section.botao{
	display: none;
	margin: 5px;
	position: absolute;
	z-index: 10;
	opacity: 0.7;
}
div.slide section.botao a{
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	background-color: #333;
	color: white;
	margin: 5px;
    font-size: 40px;
}
div.slide section.botao a:hover{
	background-color: #555;

}
.copyright {
	color: white;
	height: 24px;
	background-color: black;
	position: fixed;
	bottom: 0;
	margin-bottom: 0;
	width: 100%;
	opacity: 0.80;
	padding-top: 5px;
	z-index: 500;
}
.copyright p {
	text-align: center;
}
img{
	border-radius: 4px;
}
.login{
    width: 360px;
    height: 410px;
    background: #D8D8D8;
    color: black;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 6px;
    margin-top: 300px; /*17 || 250*/
    margin-bottom: -150px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.login h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login p{
    margin-top: 20px;
    padding: 0;
    text-align: left;
}
.login input{
    width: 100%;
    margin-bottom: 20px;
}
.login input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.login input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #0080FF;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}

.registro{
    width: 32%;
    height: 560px; /*410px; */
    background: #D8D8D8;
    color: black;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 6px;
    margin-top: 370px;/*70*/
    margin-bottom: -225px;  
}
.registro p{
    margin: 0;
    padding: 0;
    text-align: left;
}

.registro input{
    width: 100%;
    margin-bottom: 20px;
}
.registro input.usuario{
    width: 45%; 
    margin-left: -55%; /*195*/
}
.registro p.matricula{
    margin-top: -81px; 
    margin-left: 53%;
    width: 47%;
}
.registro p.matricula input{

}
.registro input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.registro input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #0080FF;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}
.recupera {
    width: 360px;
    height: 435px;
    background: #D8D8D8;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 6px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.recupera h1{
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
    font-size: 22px;
    margin-top: -30px;
}
.recupera p{
    margin-top: 5px;
    padding: 0;
    text-align: left;
}
.recupera input{
    width: 100%;
    margin-bottom: 20px;
}
.recupera input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.recupera input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #0080FF;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}
.lista{
    width: 80%;
    margin-top: 70px;
}
.lista #pedidos{
    width: 90%;
}
.card{
    position: absolute;
    width: 300px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-top: 60px; 
    background-color: white;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(2000px);
    box-sizing: border-box;
    box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 0 20px 100px rgba(0,0,0,.5);
    transition: 1s;
    margin-bottom: 100px;
}
.card:hover{
    transform: translate(-50%, -50%) perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
    margin-bottom: 70px;
}
.card:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    height: 5px;
    background-color: white;
    transform-origin: bottom;
    transform: skewX(-45deg);
}
.card:after{
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    
    background-color: white;
    transform-origin: left;
    transform: skewX(-45deg);
}
.card .imgBox{
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 1s;
}
.card:hover .imgBox{
    transform: rotateY(-135deg);
}
.card .detalhes{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: -1;
}
.card .detalhes p{
     text-align: left;
}
.card .imgBox img{
    width: 300px;
    height: 400px;
}
#logotipo{
    width: 140px;
    height: 85px;
    opacity: 0.9;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
    
}
.home{
    width: 100%;
    height: 105px;
    background: black;
    opacity: 0.80;
    margin-top: -13px;
}
header {
    width:100%;
    margin: 0 auto;
    text-align: center;
}
header nav {
    width:70%;
    height: 50px;
    margin: auto;
    margin-top: -60px;
    opacity: 0.9;
    border-radius: 4px;
    text-align: center;   
}
.menu_bar {
    display:none;
}
header nav ul {
    overflow:hidden;
    list-style:none;
    position: relative;
    padding: 15px;
}
header nav ul li {
    float: center;
    display: inline-block;  
}
header nav ul li a {
    color: white;
    padding:15px;
    margin-top: -30px;
    display:block;
    text-decoration:none;
}
header nav ul li span {
    margin-right:5px;
}
header nav ul li a:hover {
    background:#585858;
    border-radius: 4px;
}


@media screen and (max-width:768px) {
.home{
    height: 80px;
    opacity: 0.80;
    position: fixed;
    z-index: 500; /* header fora da div home =1*/
    
}
header nav {
    width:80%;
    height:100%;
    left:-100%;
    margin:0;
    position: fixed;
    margin-top: 0; /* header fora da div home =67px*/
    z-index: 900;
    background: black;
    opacity: 0.80;
 }

header nav ul li {
    display:block;
    float:none;
    margin-bottom: 30px;
    border-bottom:1px solid rgba(255,255,255, .3);
}
header nav ul li a{
    text-align: left;
    font-size: 20px;
    padding: 27px;
}

.menu_bar {
    display:block;
    width:100%;
    background: black;
    color: white;
}

.menu_bar .bt-menu {
    display:block;
    padding:20px;
    background:#024959;
    color:#fff;
    text-decoration:none;
    font-weight: bold;
    font-size:19px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.menu_bar span {
    float:right;
    margin-top: -67px;
    font-size:50px;
    margin-right: 10px;

}
.slide{
    width: 180px;
    height: 200px;
    margin-top: 40px;
}
.slide a li img{
    width: 180px;
    height: 200px;
}
.desen{
    width: 125px;
    height: 125px;
    margin: auto;
    margin-top: -40px;
    margin-bottom: 40px;
}
.home #logotipo{
    margin-top: 2px;
    height: 74px;
}
.destaque{
    margin-top: 110px;
}
.sobre{
    margin-top: 60px;
}
.registro{
    width: 80%;
    margin-top: 420px;
    margin-bottom: -240px;
}
.livro .grid{
    width: 320px;
}
.livro {
    margin-top: 60px;
}
.livro  a{
    color: blue;
}
.busca{
    width: 150px;
}
.login{
    margin-top: 370px;
}
.login a{
    color: blue;
}
.cadlivro{
    width: 350px;
    margin-top: 90px;
}
.cadlivro input{
    width: 100%;
}
.cadlivro .file{
    margin-right: -122px; 
    width: 185px; 
    margin-top: -38px; 
    font-size: 13px;
    margin-bottom: -17px;
}
.cadlivro input.name_book{
    width: 50%; 
    margin-left: -50%;
}
.cadlivro p.name_autor{
    margin-top: -81px; 
    margin-left: 60%;
}
.cadlivro p.name_autor input{
   
}
.cadlivro select{
    width: 35%;
    margin-left: -65%; /*185*/
}
.lista{
    width: 80%;
    overflow: hidden;
    margin-top: 100px;
}
.recupera{
    margin-top: 40px;
}
.recupera a{
    color: blue;
}
table{
    width: 50%;
}