@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
*{
	margin: 0;
	padding: 0;
	font-family: 'Fjalla One', sans-serif;
}
body{
	background-image: url('../img/livraria.jpg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 13px 0px;
	position: absolute;
	width: 100%;
	height: 400px;
	margin: auto;
}
#logotipo{
	width: 200px;
	height: 105px;
	opacity: 0.9;
	border-radius: 20px;
	margin-top: 1px;
	margin-left: 20px;
	border: groove 1px #E6E6E6;
}
}
.copyright {
	color: white;
	height: 24px;
	background-color: black;
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
	width: 100%;
	opacity: 0.80;
	padding-top: 5px;
	z-index: 500;

}
.copyright p {
	text-align: center;
}
.home {
    padding-top: 1px;
    list-style-type: none;
    margin: -50px auto;
    overflow: hidden;
    padding-left: 1px;

 }
.home ul a{
	padding: 10px;
	margin: auto;
}
.destaque{
	margin-top: 60px;
}
.menu{
	border-radius: 5px;
	padding: 10px;
	background-color: white;
	opacity:0.90;
	color: black;
}
.menu:hover{
	color: white;
	background-color: black;
}
