body{
	padding: 0;
	margin: 0;
}
.row{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 325px;
	background: #d8d8d8;
	overflow: hidden;
	border-radius: 4px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.row .img{
	border: 4px;
	position: relative;
	overflow: hidden;
	height: 100%;
}
.row .img:before{
	content: '';
	position: absolute;
	bottom: -108px;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, #000 50%, transparent);
	transition: 0.5s;
	z-index: 1;
}
.row:hover .info{
	bottom: 0;
}
.row:hover .img:before{
	bottom: 0;
}
.row:hover .img img{
	filter: blur(5px);
}
.row img{
	width: 100%;
	height: 100%;
}
.info{
	position: absolute;
	padding: 20px;
	width: 100%;
	height: 80%;
	bottom: -108px;
	left: 0;
	box-sizing: border-box;
	transition: 0.5s;
	z-index: 2;
}
.info h2{
	color: white;
	font-size: 20px;
	padding: 0;
	left: 0;
	margin: 0;
}
.info h2 span{
	font-size: 15px;
}
.info p{
	color: white;
}
.stars{
	position: relative;
	padding: 5px 0;
}
.stars .fal{
	color: yellow;
	margin-right: 2px;
	font-size: 15px;
}
.btn{
	margin-top: 5px;
	position: relative;
	margin-left: -14px;
}
.btn span{
	padding: 2px 5px;
	margin-right: 2px;
	display: inline-block;
	border-radius: 4px;
	color: white;
}
.btn span.solicitar{
	background: #FA58D0;
}
.btn span.avaliar{
	background: #7401DF;
}